// width < 1050
@media only screen and (max-width: 1050px) {
  .header__content {
    .header-nav {

      .header-nav__link {
        #font .Roboto(11, 400, 1);
      }

      .header-nav__separator {
        #font .Roboto(15, 400, 57px)
      }
    }
  }

  .freedom-black__content {
    .freedom-black__content__what-next-textarea {
      min-height: 715px;
    }
  }
}

// width < 960
@media only screen and (max-width: 960px) {
  @headingFontSize: 48*0.9;
  @plainTextHeight: 1.3;
  @plainTextSize: 12;

  .header__content {
    .header-logo {
      float: none;
      margin-left: auto;
      margin-right: auto;
    }

    .header-nav {
      float: none;
      text-align: center;

      .header-nav__link {
        #font .Roboto(9, 400, 1);
      }

      .header-nav__separator {
        #font .Roboto(14, 400, 57px)
      }
    }
  }

  .main-text__content {
    .main-text__content__text {
      #font .Roboto(@plainTextSize, 400, @plainTextHeight);
    }
  }

  .news__content {
    .news-slider__wrap {
      .news-slider {
        .news-slider__item {
          .news-slider__article {
            .news-slider__article__title {
              .news-slider__article__title__link {
                #font .Roboto(@plainTextSize, 400, 1);
              }
            }
          }
        }
      }
    }
  }

  .voting-results__content {
    .voting-results__content__title {
      #font .Bebas-Neue-Book(@headingFontSize, 400, 1);

      .voting-results__content__title--bold {
        #font .Bebas-Neue-Bold(@headingFontSize, 400, 1);
      }
    }

    .voting-results__content__text {
      #font .Roboto(@plainTextSize, 400, @plainTextHeight);
    }

    .voting-results__content__graphs {
      .graphs__legend {
        margin-bottom: 10px;
      }

      .graphs__wrap {
        @graphsHeight: 366px;

        .graphs__piechart__wrap {
          .size(100%, 300px);

          float: none;
          margin-bottom: 30px;

          .graphs__piechart {
            .translate(-50%, -50%);

            left: 50%;
          }
        }

        .graphs__barchart__wrap {
          .size(100%, @graphsHeight);

          float: none;
        }
      }
    }
  }

  .voting-data__content {

    .voting-data__content__text {
      #font .Roboto(@plainTextSize, 400, @plainTextHeight);
    }

    .voting-table {
      .size(80%, auto);
    }
  }

  .team__content {
    .team-pager {
      .team-pager__person {
        .size(25%, 250px);

        .team-pager__person__image__wrap {
          margin-top: 20px;
          margin-bottom: 10px;
        }

        .team-pager__person__name {
          #font .Roboto(9, 700, 1);
        }

        .team-pager__person__position {
          #font .Roboto(9, 400, 1);

          margin-bottom: 10px;
        }
      }
    }
  }

  .team-info__content {
    .team-slider__wrap {
      .team-slider {
        .team-slider__slide {
          .team-slider__slide__text {
            #font .Roboto(@plainTextSize, 400, @plainTextHeight);
          }
        }
      }
    }
  }

  .internet-info__content {
    .internet-info__content__text {
      #font .Roboto(@plainTextSize, 400, 1);
    }
  }

  .arguments__content {
    .arguments__content__main-title {
      #font .Bebas-Neue-Book(@headingFontSize, 400, 1);

      .arguments__content__main-title--bold {
        #font .Bebas-Neue-Bold(@headingFontSize, 400, 1);
      }
    }

    .arguments__content__title {
      #font .Bebas-Neue-Bold(@headingFontSize, 400, 1);
    }

    .arguments__content__text {
      #font .Roboto(@plainTextSize, 400, @plainTextHeight);
    }

    .arguments__content__articles {
      .arguments-article {
        .size(30%, auto);

        &:last-child {
        }

        .arguments-article__title {
          #font .Bebas-Neue-Bold(18, 400, 1);
        }

        .arguments-article__text {
          #font .Roboto(@plainTextSize, 400, 1);
        }

        .arguments-article__footer {
          #font .Roboto(@plainTextSize, 400, 1);
        }
      }
    }
  }

  .going-to__content {
    .going-to__content__title {
      #font .Bebas-Neue-Book(@headingFontSize, 400, 1);
      .going-to__content__title--bold {
        #font .Bebas-Neue-Bold(@headingFontSize, 400, 1);
      }
    }

    .going-to__content__text {
      #font .Roboto(@plainTextSize, 400, @plainTextHeight);
    }
  }

  .get-involved__content {
    .get-involved__content__title {
      #font .Bebas-Neue-Book(@headingFontSize, 400, 1);

      .get-involved__content__title--bold {
        #font .Bebas-Neue-Bold(@headingFontSize, 400, 1);
      }
    }

    .get-involved__content__text {
      #font .Roboto(@plainTextSize, 400, @plainTextHeight);

      .get-involved__content__text__link {
        #font .Roboto(@plainTextSize, 400, @plainTextHeight);
      }
    }
  }

  .associates-info__content {
    .associates-slider__wrap {
      .associates-slider {
        .associates-slider__slide {
          .associates-slider__slide__text {
            #font .Roboto(@plainTextSize, 400, @plainTextHeight);

            .associates-slider__slide__text__link {
              #font .Roboto(@plainTextSize, 400, @plainTextHeight);
            }
          }
        }
      }
    }
  }

  .freedom-white__content {
    .freedom-white__content__main-text {
      #font .Roboto(@plainTextSize, 400, @plainTextHeight);
    }

    .freedom-white__content__second-title {
      #font .Bebas-Neue-Bold(@headingFontSize*0.7, 400, 1);
    }
  }

  .freedom-black__content {
    .freedom-black__content__title {
      #font .Bebas-Neue-Bold(@headingFontSize*0.7, 400, 1);
    }

    .freedom-black__content__text {
      #font .Roboto(@plainTextSize, 400, @plainTextHeight);
    }

    .freedom-black__content__tables {
      .freedom-black__content__table {
        .freedom-black__content__table__item {
          .freedom-black__content__table__item__cell {
            #font .Roboto(@plainTextSize * 0.8, 400, @plainTextHeight);
          }
          .freedom-black__content__table__item__head-cell {
            #font .Bebas-Neue-Bold(@plainTextSize, 400, @plainTextHeight);
          }
        }
      }
    }

    .freedom-black__content__guide {
      .freedom-black__content__guide__left {
        .size(100%, auto);

        position: relative;
        left: auto;
        margin-top: 70px;
      }

      .freedom-black__content__guide__right {
        .size(100%, auto);

        float: none;
        .freedom-black__content__guide__right__text {
          #font .Roboto(@plainTextSize, 400, @plainTextHeight);
        }

        .freedom-black__content__guide__right__list {
          .freedom-black__content__guide__right__list__item {
            .freedom-black__content__guide__right__list__item__text {
              #font .Roboto(@plainTextSize, 400, @plainTextHeight);
            }
          }
        }
      }
    }

    .freedom-black__content__what-next-title {
      #font .Bebas-Neue-Book(@headingFontSize*0.7, 400, 1);

      .freedom-black__content__what-next-title--bold {
        #font .Bebas-Neue-Bold(@headingFontSize*0.7, 400, 1);
      }
    }

    .freedom-black__content__what-next-text {
      #font .Roboto(@plainTextSize, 400, @plainTextHeight);
    }

    .freedom-black__content__what-next-textarea {
      .size(100%, auto);
      #font .Roboto(@plainTextSize, 400, @plainTextHeight);

      min-height: 740px;
    }
  }
  
  .freedom-grey__content {
    .freedom-grey__content__second-title {
      #font .Bebas-Neue-Bold(@headingFontSize*0.7, 400, 1);
    }

    .freedom-grey__content__boxs {
      .freedom-grey__content__box {
        .size(100%, auto);

        margin-right: 0;
        margin-bottom: 70px;

        &:last-child {
          margin-bottom: 0;
        }

        .freedom-grey__content__box__title {
          #font .Bebas-Neue-Bold(@headingFontSize*0.5, 400, 1);
        }

        .freedom-grey__content__box__text {
          #font .Roboto(@plainTextSize, 400, @plainTextHeight);
        }
      }
    }
  }
}

// width < 640
@media only screen and (max-width: 640px) {
  @headingFontSize: 48*0.7;
  @plainTextHeight: 1.3;
  @plainTextSize: 10;

  .header__content {
    .header-nav {
      .size(0, auto);

      margin-left: auto;
      margin-right: auto;

      .header-nav__link {
        #font .Roboto(13, 400, 1);
        .translateX(-50%);
        display: inline-block;
        white-space: nowrap;
        margin: 0;
      }

      .header-nav__separator {
        display: none;
      }
    }
  }

  .main-text__content {
    .main-text__content__text {
      #font .Roboto(@plainTextSize, 400, @plainTextHeight);
    }
  }

  .news__content {
    .news-slider__wrap {
      .news-slider {
        .news-slider__item {
          .news-slider__article {
            .news-slider__article__title {
              .news-slider__article__title__link {
                #font .Roboto(@plainTextSize, 400, 1);
              }
            }
          }
        }
      }
    }
  }
  
  .arguments__content {
    .arguments__content__main-title {
      #font .Bebas-Neue-Book(@headingFontSize, 400, 1);

      .arguments__content__main-title--bold {
        #font .Bebas-Neue-Bold(@headingFontSize, 400, 1);
      }
    }

    .arguments__content__title {
      #font .Bebas-Neue-Bold(@headingFontSize, 400, 1);
    }

    .arguments__content__text {
      .size(90%, auto);
      #font .Roboto(@plainTextSize, 400, @plainTextHeight);
    }

    .arguments__content__articles {
      .arguments-article {
        .size(100%, auto);

        float: none;
        margin-bottom: 30px;

        &:last-child {
          margin-bottom: 0px;
        }

        .arguments-article__title {
          #font .Bebas-Neue-Bold(30, 400, 1);

          margin-bottom: 30px;
        }

        .arguments-article__text {
          #font .Roboto(@plainTextSize, 400, 1);
        }

        .arguments-article__footer {
          #font .Roboto(@plainTextSize, 400, 1);
        }
      }
    }
  }

  .voting-results__content {
    .voting-results__content__title {
      #font .Bebas-Neue-Book(@headingFontSize, 400, 1);

      .voting-results__content__title--bold {
        #font .Bebas-Neue-Bold(@headingFontSize, 400, 1);
      }
    }

    .voting-results__content__text {
      #font .Roboto(@plainTextSize, 400, @plainTextHeight);
    }
  }

  .voting-data__content {
    .voting-data__content__text {
      #font .Roboto(@plainTextSize, 400, @plainTextHeight);
    }

    .voting-table {
      .size(90%, auto);

      .voting-table__row {
        .voting-table__head-cell {
          #font .Roboto(9, 400, 1);
        }

        .voting-table__cell {
          #font .Roboto(9, 400, 1);
        }
      }
    }
  }

  .team__content {
    .team-pager {
      .team-pager__person {
        .size(25%, 210px);

        .team-pager__person__name {
          #font .Roboto(7, 700, 1);
        }

        .team-pager__person__position {
          #font .Roboto(7, 400, 1);
        }
      }
    }
  }

  .team-info__content {
    .team-slider__wrap {
      .team-slider {
        .team-slider__slide {
          .team-slider__slide__text {
            #font .Roboto(@plainTextSize, 400, @plainTextHeight);
          }
        }
      }
    }
  }

  .internet-info__content {
    .internet-info__content__text {
      #font .Roboto(@plainTextSize, 400, 1);
    }
  }

  .associates-info__content {
    .associates-slider__wrap {
      .associates-slider {
        .associates-slider__slide {
          .associates-slider__slide__text {
            #font .Roboto(@plainTextSize, 400, 1);

            .associates-slider__slide__text__link {
              #font .Roboto(@plainTextSize, 400, 1);
            }
          }
        }
      }
    }
  }

  .associates__content {
    .associates-pager {
      .associates-pager__logo {
        .size(30%, 200px);
      }
    }
  }

  .going-to__content {
    .going-to__content__title {
      #font .Bebas-Neue-Book(@headingFontSize, 400, 1);
      .going-to__content__title--bold {
        #font .Bebas-Neue-Bold(@headingFontSize, 400, 1);
      }
    }

    .going-to__content__text {
      #font .Roboto(@plainTextSize, 400, @plainTextHeight);
    }
  }

  .get-involved__content {
    .get-involved__content__title {
      #font .Bebas-Neue-Book(@headingFontSize, 400, 1);

      .get-involved__content__title--bold {
        #font .Bebas-Neue-Bold(@headingFontSize, 400, 1);
      }
    }

    .get-involved__content__text {
      #font .Roboto(@plainTextSize, 400, @plainTextHeight);

      .get-involved__content__text__link {
        #font .Roboto(@plainTextSize, 400, @plainTextHeight);
      }
    }
  }

  .associates-info__content {
    .associates-slider__wrap {
      .associates-slider {
        .associates-slider__slide {
          .associates-slider__slide__text {
            #font .Roboto(@plainTextSize, 400, @plainTextHeight);

            .associates-slider__slide__text__link {
              #font .Roboto(@plainTextSize, 400, @plainTextHeight);
            }
          }
        }
      }
    }
  }

  .freedom-white__content {
    .freedom-white__content__main-text {
      #font .Roboto(@plainTextSize, 400, @plainTextHeight);
    }

    .freedom-white__content__second-title {
      #font .Bebas-Neue-Bold(@headingFontSize*0.7, 400, 1);
    }
  }

  .freedom-black__content {
    .freedom-black__content__title {
      #font .Bebas-Neue-Bold(@headingFontSize*0.7, 400, 1);
    }

    .freedom-black__content__text {
      #font .Roboto(@plainTextSize, 400, @plainTextHeight);
    }

    .freedom-black__content__tables {
      .freedom-black__content__table {
        .freedom-black__content__table__item {
          .freedom-black__content__table__item__cell {
            #font .Roboto(@plainTextSize * 0.6, 400, @plainTextHeight);
          }

          .freedom-black__content__table__item__head-cell {
            #font .Bebas-Neue-Bold(@plainTextSize, 400, @plainTextHeight);
          }
        }
      }
    }

    .freedom-black__content__guide {
      .freedom-black__content__guide__right {
        .freedom-black__content__guide__right__text {
          #font .Roboto(@plainTextSize, 400, @plainTextHeight);
        }

        .freedom-black__content__guide__right__list {
          .freedom-black__content__guide__right__list__item {
            .freedom-black__content__guide__right__list__item__text {
              #font .Roboto(@plainTextSize, 400, @plainTextHeight);
            }
          }
        }
      }
    }

    .freedom-black__content__what-next-title {
      #font .Bebas-Neue-Book(@headingFontSize*0.7, 400, 1);

      .freedom-black__content__what-next-title--bold {
        #font .Bebas-Neue-Bold(@headingFontSize*0.7, 400, 1);
      }
    }

    .freedom-black__content__what-next-text {
      #font .Roboto(@plainTextSize, 400, @plainTextHeight);
    }

    .freedom-black__content__what-next-textarea {
      #font .Roboto(@plainTextSize, 400, @plainTextHeight);
    }
  }
  
  .freedom-grey__content {
    .freedom-grey__content__second-title {
      #font .Bebas-Neue-Bold(@headingFontSize*0.7, 400, 1);
    }

    .freedom-grey__content__boxs {
      .freedom-grey__content__box {
        .freedom-grey__content__box__title {
          #font .Bebas-Neue-Bold(@headingFontSize*0.5, 400, 1);
        }

        .freedom-grey__content__box__text {
          #font .Roboto(@plainTextSize, 400, @plainTextHeight);
        }
      }
    }
  }
}

// width < 480
@media only screen and (max-width: 480px) {
  @headingFontSize: 48*0.4;
  @plainTextHeight: 1.1;
  @plainTextSize: 9;

  .title__content {
    .title-heading {
      .size(310px, auto);

      .title-heading__main-text {
        #font .Bebas-Neue-Bold(68 * 0.775, 400, 1);

        .title-heading__main-text--bigger {
          #font .Bebas-Neue-Bold(84 * 0.775, 400, 0.8);
        }
      }

      .title-heading__underline {
        .title-heading__underline__line {
          .size(43%, 2px);
        }

        .title-heading__underline__symbol {
          .size(14%, auto);
          #font .Fontcustom(10 * 0.775, 400, 1);
        }
      }

      .title-heading__subtitle {
        #font .Bebas-Neue-Book(45 * 0.775, 400, 0.75);

        .title-heading__subtitle--bold {
          #font .Bebas-Neue-Bold(68 * 0.775, 400, 0.75);
        }

        .title-heading__subtitle--bigger {
          #font .Bebas-Neue-Book(78 * 0.775, 400, 1.2);
        }

        .title-heading__subtitle--smaller-bold {
          #font .Bebas-Neue-Bold(32.5 * 0.775, 400, 1.2);
        }
      }

      .title-heading__link {
        #font .Bebas-Neue-Bold(67 * 0.775, 400, 0.75);
      }
    }
  }

  .main-text__content {
    .main-text__content__text {
      #font .Roboto(@plainTextSize, 400, @plainTextHeight);
    }
  }

  .news__content {
    .news-slider__wrap {
      .news-slider {
        .news-slider__item {
          .news-slider__article {
            .news-slider__article__title {
              .news-slider__article__title__link {
                #font .Roboto(@plainTextSize, 400, 1);
              }
            }
          }
        }
      }
    }

    .news-slider__prev__wrap {
      .size(10%, 100%);

      .news-slider__prev {
        .size(25px, 24px);
        #font .Fontcustom(15, 400, 1);
      }
    }

    .news-slider__next__wrap {
      .size(10%, 100%);
      .news-slider__next {
        .size(15px, 24px);
        #font .Fontcustom(15, 400, 1);
      }
    }
  }

  .voting-results__content {
    .voting-results__content__title {
      #font .Bebas-Neue-Book(@headingFontSize, 400, 1);

      .voting-results__content__title--bold {
        #font .Bebas-Neue-Bold(@headingFontSize, 400, 1);
      }
    }

    .voting-results__content__text {
      #font .Roboto(@plainTextSize, 400, @plainTextHeight);
    }

    .voting-results__content__graphs {
      .graphs__legend {
        .graphs__legend__item {
          .graphs__legend__item__text {
            #font .Roboto(12, 400, 1);

            margin-right: 10px;
            margin-left: 15px;
            line-height: 30px;
          }

          &:first-child .graphs__legend__item__text {
          }

          .graphs__legend__item__box {
            .size(30px, 30px);
          }
        }
      }

      .graphs__wrap {
        @graphsHeight: 366px;

        .graphs__barchart__wrap {
          @barchartWidth: 58%;
          @chartJsBarWidth: 30px;

          .graphs__barchart {
            .size(@barchartWidth, @graphsHeight);
          }

          .graphs__barchart__legend {
            .size(40%, auto);

            .barchart__legend__item {
              .barchart__legend__item__name {
                #font .size(8, @chartJsBarWidth);
              }
            }
          }
        }
      }
    }
  }

  .voting-data__content {
    .voting-data__content__text {
      #font .Roboto(@plainTextSize, 400, @plainTextHeight);
    }

    .voting-table {
      .size(100%, auto);
    }
  }

  .team__content {
    .team-pager {
      .team-pager__person {
        .size(25%, 170px);

        .team-pager__person__name {
          #font .Roboto(5, 700, 1);
        }

        .team-pager__person__position {
          #font .Roboto(5, 400, 1);
        }
      }
    }
  }

  .team-info__content {
    .team-slider__wrap {
      .team-slider {
        .team-slider__slide {
          .team-slider__slide__text {
            #font .Roboto(@plainTextSize, 400, @plainTextHeight);
          }
        }
      }
    }
  }

  .internet-info__content {
    .internet-info__content__text {
      #font .Roboto(@plainTextSize, 400, @plainTextHeight);
    }
  }

  .associates-info__content {
    .associates-slider__wrap {
      .associates-slider {
        .associates-slider__slide {
          .associates-slider__slide__text {
            #font .Roboto(@plainTextSize, 400, @plainTextHeight);

            .associates-slider__slide__text {
              #font .Roboto(@plainTextSize, 400, @plainTextHeight);
            }
          }
        }
      }
    }
  }

  .associates__content {
    .associates-pager {
      .associates-pager__logo {
        .size(30%, 130px);
      }
    }
  }

  .footer__content {
    .footer__content__web {
      .footer__content__web__link {
        #font .Roboto(10, 400, 1);
      }
    }

    .footer__content__email {
      .footer__content__email__link {
        #font .Roboto(10, 400, 1);
      }
    }
  }

  .going-to__content {
    .going-to__content__title {
      #font .Bebas-Neue-Book(@headingFontSize, 400, 1);
      .going-to__content__title--bold {
        #font .Bebas-Neue-Bold(@headingFontSize, 400, 1);
      }
    }

    .going-to__content__text {
      #font .Roboto(@plainTextSize, 400, @plainTextHeight);
    }
  }

  .get-involved__content {
    .get-involved__content__title {
      #font .Bebas-Neue-Book(@headingFontSize, 400, 1);

      .get-involved__content__title--bold {
        #font .Bebas-Neue-Bold(@headingFontSize, 400, 1);
      }
    }

    .get-involved__content__text {
      #font .Roboto(@plainTextSize, 400, @plainTextHeight);

      .get-involved__content__text__link {
        #font .Roboto(@plainTextSize, 400, @plainTextHeight);
      }
    }
  }

  .arguments__content {
    .arguments__content__main-title {
      #font .Bebas-Neue-Book(@headingFontSize, 400, 1);

      .arguments__content__main-title--bold {
        #font .Bebas-Neue-Bold(@headingFontSize, 400, 1);
      }
    }

    .arguments__content__title {
      #font .Bebas-Neue-Bold(@headingFontSize, 400, 1);
    }

    .arguments__content__text {
      #font .Roboto(@plainTextSize, 400, @plainTextHeight);
    }

    .arguments__content__articles {
      .arguments-article {
        .arguments-article__title {
          #font .Bebas-Neue-Bold(15, 400, 1);
        }

        .arguments-article__text {
          #font .Roboto(@plainTextSize, 400, 1);
        }

        .arguments-article__footer {
          #font .Roboto(@plainTextSize, 400, 1);
        }
      }
    }
  }

  .freedom-white__content {
    .freedom-white__content__main-text {
      #font .Roboto(@plainTextSize, 400, @plainTextHeight);
    }

    .freedom-white__content__second-title {
      #font .Bebas-Neue-Bold(@headingFontSize*0.7, 400, 1);
    }
  }

  .freedom-black__content {
    .freedom-black__content__title {
      #font .Bebas-Neue-Bold(@headingFontSize*0.7, 400, 1);
    }

    .freedom-black__content__text {
      #font .Roboto(@plainTextSize, 400, @plainTextHeight);
    }

    .freedom-black__content__tables {
      .freedom-black__content__table {
        .freedom-black__content__table__item {
          .freedom-black__content__table__item__cell {
            #font .Roboto(7, 400, @plainTextHeight);

            font-size: 7px;
          }

          .freedom-black__content__table__item__head-cell {
            #font .Bebas-Neue-Bold(7, 400, @plainTextHeight);
          }
        }
      }
    }

    .freedom-black__content__guide {
      .freedom-black__content__guide__right {
        .freedom-black__content__guide__right__text {
          #font .Roboto(@plainTextSize, 400, @plainTextHeight);
        }

        .freedom-black__content__guide__right__list {
          .freedom-black__content__guide__right__list__item {
            .freedom-black__content__guide__right__list__item__text {
              #font .Roboto(@plainTextSize, 400, @plainTextHeight);
            }
          }
        }
      }
    }

    .freedom-black__content__what-next-title {
      #font .Bebas-Neue-Book(@headingFontSize*0.7, 400, 1);

      .freedom-black__content__what-next-title--bold {
        #font .Bebas-Neue-Bold(@headingFontSize*0.7, 400, 1);
      }
    }

    .freedom-black__content__what-next-text {
      #font .Roboto(@plainTextSize, 400, @plainTextHeight);
    }

    .freedom-black__content__what-next-textarea {
      #font .Roboto(@plainTextSize, 400, @plainTextHeight);

      min-height: 715px;
    }
  }
  
  .freedom-grey__content {
    .freedom-grey__content__second-title {
      #font .Bebas-Neue-Bold(@headingFontSize*0.7, 400, 1);
    }

    .freedom-grey__content__boxs {
      .freedom-grey__content__box {
        .freedom-grey__content__box__title {
          #font .Bebas-Neue-Bold(@headingFontSize, 400, 1);
        }

        .freedom-grey__content__box__text {
          #font .Roboto(@plainTextSize, 400, @plainTextHeight);
        }
      }
    }
  }
}