.main {
  .header {
    .size(100%, auto);

    border-bottom: @lightGray 4px solid;

    .header__content {
      .size(1000px, auto);
      .center-block();

      text-align: left;
    }
  }

  .title {
    .size(100%, auto);

    .title__content {
      .size(1000px, auto);
      .center-block();

      text-align: left;
    }
  }

  .title {
    .size(100%, auto);

    .title__content {
      .size(1000px, auto);
      .center-block();

      text-align: left;
    }
  }

  .main-text {
    .size(100%, auto);

    background: @creamWhite;

    .main-text__content {
      .size(1000px, auto);
      .center-block();

      text-align: left;
    }
  }

  .news {
    .size(100%, auto);

    background: @lightGray;

    .news__content {
      .size(1000px, auto);
      .center-block();

      text-align: left;
    }
  }

  .voting-results {
    .size(100%, auto);

    background-color: @darkGrey;
    color: @trueWhite;

    .voting-results__content {
      .size(1000px, auto);
      .center-block();

      text-align: left;
    }
  }

  .voting-data {
    .size(100%, auto);

    background-color: @creamWhite;
    color: @trueBlack;
    .voting-data__content {
      .size(1000px, auto);
      .center-block();

      text-align: left;
    }
  }

  .arguments {
    .size(100%, auto);

    background-color: @trueBlack;
    color: @trueWhite;

    .arguments__content {
      .size(1000px, auto);
      .center-block();

      text-align: left;
    }
  }

  .team {
    .size(100%, auto);

    background: @darkGrey;

    .team__content {
      .size(1000px, auto);
      .center-block();

      text-align: left;
    }
  }

  .team-info {
    .size(100%, auto);

    background: @creamWhite;

    .team-info__content {
      .size(1000px, auto);
      .center-block();

      text-align: left;
    }
  }

  .internet-info {
    .size(100%, auto);

    background: @lightenDarkGrey;
    color: @trueWhite;

    .internet-info__content {
      .size(1000px, auto);
      .center-block();

      text-align: left;
    }
  }

  .footer {
    .size(100%, auto);

    background: @darkGrey;
    color: @trueWhite;

    .footer__content {
      .size(1000px, auto);
      .center-block();

      text-align: left;
    }
  }
}